* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --second-color: #5f5b53;
    --font-heading: Sen, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========= Common ========= */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    min-width: 118px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 999px;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.heading {
    color: #171100;
    font-family: Sen;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02em;
}

.heading.heading-lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.heading-lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 1);
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    overflow-wrap: break-word;
}

/* ========= Header ========= */
.header {
    padding-top: 28px;
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    left: 0;
    z-index: 1;
}

.header .nav {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.nav .navbar {
    margin-left: auto;
    display: flex;
}

.navbar a {
    position: relative;
    display: inline-block;
    padding: 8px 21px;
    color: var(--second-color);
    text-align: center;
    font-size: 1.6rem;
}

.navbar a::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar li.active a::after {
    position: absolute;
    display: inline-block;
    bottom: 3px;
    left: 21px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.navbar li.active a,
.navbar a:hover {
    color: #171100;
    font-weight: 600;
}

.nav .action {
    margin-left: 49px;
}

.nav .action-btn {
    min-width: 144px;
    background: #171100;
}

/* ========= Hero ========= */
.hero-wrap {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero-wrap .hero {
    display: flex;
    justify-content: space-between;
}

.hero-wrap .hero-left {
    position: relative;
    width: 48%;
}

.hero-left .hero-img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    /* vertical-align: bottom; */
}

.hero-left .courses {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.courses .list-courses {
    display: flex;
    align-items: center;
}

.courses .list-courses + .list-courses {
    margin-top: 14px;
}

.courses .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: currentColor;
    border-radius: 50%;
}

.courses .info-courses {
    margin-left: 16px;
}

.courses .courses-label {
    color: var(--second-color);
    font-size: 1.4rem;
    line-height: 1.86;
}

.courses .courses-name {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero-wrap .hero-right {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero-right .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.hero-right .desc {
    margin-top: 22px;
    color: var(--second-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero-right .hero-actions {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero-actions .hero-btn {
    min-width: 180px;
    line-height: 64px;
    font-size: 1.8rem;
}

.hero-actions .watch-video {
    display: flex;
    align-items: center;
    gap: 14px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero-right .stats {
    margin: 8px 0 0 -28px;
}

.hero-right .stats strong {
    margin: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
}

/* ========= Popular ========= */
.popular {
    margin-top: 135px;
    padding: 65px 0;
    scroll-margin-top: 8px;
}

.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .popular-info {
    width: 458px;
}

.popular-top .popular-desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.popular .popular-controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .popular-bottom {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .popular-bottom .courses-list {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e2dfda;
}

.popular .popular-bottom .courses-list:hover {
    border-color: transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular .courses-list .popular-thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.popular .courses-list .courses-info {
    padding: 16px 22px 22px;
}

.popular .courses-list .courses-head,
.popular .courses-list .popular-rating,
.popular .courses-list .courses-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .courses-list .title a {
    color: #171100;
    font-size: 1.8;
    font-weight: 600;
    line-height: 1.67;
}

.popular .popular-rating .value {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 1.75;
}

.popular .courses-list .courses-desc {
    margin-top: 6px;
    color: var(--second-color);
    font-size: 1.4rem;
    line-height: 1.86;
}

.popular .courses-list .courses-foot {
    margin-top: 12px;
}

.popular .courses-list .pricing {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .courses-list .courses-btn {
    border: none;
    background: #171100;
}

.popular .courses-list .courses-btn:hover {
    background: var(--primary-color);
}

/* ========= Feedback ========= */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
    scroll-margin-top: 200px;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: var(--primary-color);
    cursor: default;
}

.feedback-item .content {
    width: 66%;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}

/* ========= Features ========= */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .features-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .features-images {
    display: flex;
    gap: 0 30px;
}

.features img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features img:first-child {
    margin-top: 34px;
}

.features .features-content {
    width: 41%;
}

.features .features-content .desc {
    width: 97%;
    margin-top: 16px;
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.75;
}

.features .features-content .features-btn {
    margin-top: 32px;
    min-width: 137px;
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .features-body {
    flex-direction: row-reverse;
}

.features-2nd .features-content {
    width: 49%;
}

.features-2nd .features-images img {
    width: 470px;
    height: 440px;
}

/* ========= Blog ========= */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
    scroll-margin-top: -18px;
}

.blog .blog-top {
    width: 448px;
    margin: 0 auto;
    text-align: center;
}

.blog .blog-top .heading {
    color: #130606;
}

.blog .blog-top .blog-desc {
    margin-top: 16px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog .blog-list {
    display: flex;
    gap: 30px;
    margin: 35px -20px 0;
    overflow: hidden;
    padding: 20px 20px;
}

.blog .blog-item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    border-radius: 16px;
    background: #fff;
}

.blog .blog-item:hover {
    /* box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blog .blog-item .blog-thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog .blog-item .item-info {
    padding: 20px 20px 28px;
}

.blog .blog-item .blog-date {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 12px;
    color: var(--second-color);
    font-size: 1.4rem;
    line-height: 1.86;
}

.blog .blog-item .blog-date::before {
    display: inline-block;
    margin-right: 4px;
    content: "";
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    border-radius: 50%;
}

.blog .blog-item .blog-date::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: -27px;
    display: inline-block;
    content: "";
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .blog-item .blog-title a {
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog .blog-item .blog-btn {
    margin-top: 12px;
    background: #171100;
}

.blog .blog-item .blog-btn:hover {
    background: var(--primary-color);
}

.blog .blog-dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 38px;
}

.blog .blog-dot {
    width: 6px;
    height: 6px;
    background: #5f5b53;
    border-radius: 50%;
    cursor: pointer;
}

.blog .blog-dot.active {
    background: var(--primary-color);
    cursor: default;
}

/* ========= Footer ========= */
.footer {
    padding-top: 96px;
    background: #2e2100;
}

.footer .footer-row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .footer-row .column {
    width: 21.6%;
}

.footer .footer-row .column:first-child {
    width: 35%;
}

.footer .footer-desc {
    margin-top: 18px;
    max-width: 266px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .footer-social {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .footer-social .icon {
    display: block;
    transition: all ease 0.5s;
}

.footer .footer-social .icon:hover {
    transform: scale(1.5);
}

.footer .footer-title {
    position: relative;
    padding: 0 48px 14px 0;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .footer-title::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .footer-list {
    margin-top: 28px;
}

.footer .footer-list .footer-item span,
.footer .footer-list .footer-item a {
    display: inline-block;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .footer-list .footer-item:hover a {
    text-decoration: underline;
    color: #fff;
}

.footer .footer-list .footer-item + .footer-item {
    margin-top: 12px;
}

.footer .footer-list .footer-item.address-item {
    max-width: 231px;
}

.footer .footer-list strong {
    color: #fff;
    font-weight: 600;
}

.footer .copyright {
    padding: 28px 0;
}

.footer .copyright-desc {
    color: #807d74;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
}
